<div class="row search-result" *ngFor="let product of searchResult">
    <div class="col-sm-3">
        <img src="{{product.image}}" alt="{{product.productName}}">
    </div>
    <div class="col-sm-8 details">
        <h6>{{product.productName | titlecase}}</h6>
        <p><b>price : {{product.price}}</b></p>
        <p>Details : {{product.details | titlecase}}</p>
        <p><span>Made In : {{product.madeIn | titlecase}}</span>
        <p><span>Rating : {{product.rating}}</span></p>
        <p><span>Category : {{product.category | titlecase}}</span></p>
        <p><span>Brand : {{product.brand | titlecase}}</span></p>
    </div>
</div>