<div *ngIf="!showlogin" class="user-auth mt-5 mx-auto w-25">
    <div class=" border border-5" style="padding : 20px; " >
        <h1 class="mb-3"> User SignUp</h1>
        <form #userSignUp="ngForm"  (ngSubmit)="signup(userSignUp.value)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput ngModel name="name" id="name" placeholder="Enter UserName" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput ngModel name="email" id="email" placeholder="Email" type="email" required>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                <input matInput ngModel name="password" id="password" placeholder="Password" type="password" required>
            </mat-form-field>


            <button class="w-100 mb-3" type="submit" mat-raised-button color="primary">Continue</button>

            <a class="auth-flip-link" (click)="openlogin()">Already a user? click for login</a>

        </form>
    </div>
</div>


<div *ngIf="showlogin" class="login container mx-auto mt-5 w-25">
    <div class="border border-5" style="padding : 20px;">
        <form #userLogIn="ngForm"  (ngSubmit)="login(userLogIn.value)">
        <h1>
            User Login
        </h1>
        <p class="error">{{isAuthError}}</p>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput ngModel name="email" id="email" placeholder="Email" type="email" >
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input type="password" matInput ngModel name="password" id="password" placeholder="Password">
        </mat-form-field>

        <button class="w-100 mb-3" type="submit" mat-raised-button color="primary">Login</button>

        <a class="auth-flip-link" (click)="opensignup()">New to online store? Create an account</a>


        </form>
    </div>
</div>
 