<div class="row display-product" *ngIf="productdata">
    <div class="col-sm-6 d-flex justify-content-center align-items-center">
        <img class="product-img " src="{{productdata.image}}" alt="{{productdata.productName}}">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>{{productdata.productName}}</h1>
            <h3>Price : {{productdata.price}}</h3>
        </div>
        <h3>Brand :{{productdata.brand}}</h3>
        <h3>Category : {{productdata.category}}</h3>
        <h3>Details : {{productdata.details}}</h3>
        <h3>Miadein : {{productdata.madeIn}}</h3>
        <h3>Rating : {{productdata.rating}}</h3>
        <button class="form-button">Add to Cart</button>
        <button class="form-button">Buy Now</button>
        <div class="quantity-group">
            <button (click)="handlequantity('minus')">-</button>
            <input type="button" value="{{productQuantity}}">
            <button (click)="handlequantity('plus')">+</button>
        </div>
    </div>
</div>