img {
    margin-top: 10px;  
    width: 100px;
    height: 200px;
    height: auto;
}

.update-link {
    margin-left: 10px;
}

.card-body {
 margin-bottom: 10px;
}

.addtocart {

}

.buynow{
    margin-left: 5px;
}